.iconFooter {
  height: 20px;
  width: 20px;
  filter: brightness(1);
  fill: white;
  float: left;
  -webkit-filter: brightness(1);
}

#columns h2.heading,
#footer h2.heading {
  margin-top: 0;
  text-align: center;
}

.box-footer h2.heading {
  margin-bottom: 15px;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 25px;
  width: 100%;
  font-weight: 600;
  position: relative;
  color: #fff;
}

.footer-address {
  .content {
    width: 100%;
    font-size: 18px;
  }

  .item {
    margin: 0 0;
    padding: 0 0 8px 10rem;

    width: 100%;

    span.lbl {
      padding-left: 20px;
    }

    span.ctn {
      padding-left: 10px;
      a {
        display: inline-block;
      }
    }
  }
}

.f-address a {
  float: left;
}

a {
  cursor: pointer;
  color: #333;
  outline: none !important;
  text-decoration: none !important;
  display: block;
  position: relative;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.fb.active {
  font-weight: bold;
  color: white !important;
}
