@import '../../../../styles/styles.scss';

.homeProductRow .row .itemProduct {
  display: flex;
  flex-flow: column;
  align-items: center;

  .image {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;

    img {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      transition: 0.3s;

    }
  }

  .NamePrice {
    h5 {
      color: #fff;
      transition: 0.3s;
      font-size: 20px;
      font-weight: normal;
      //padding-bottom: 40px;
      line-height: 1.5;
      padding-right: 15px;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      -o-transition: 0.3s;
    }

    p {
      font-size: 21px;
      color: #fab414;
      text-align: center;
      padding-top: 10px;
      padding-right: 15px;
    }
  }
}

.contentProduct {
  background-color: #393535;

  .productHome {
    text-align: center;
    font-size: 32px;
    line-height: 2;
    color: #fab414;
  }

  h4 {
    text-align: center;
    font-size: 18px;
    line-height: 1.7;
    color: #fff;
    font-weight: 500;
  }
}

.homeProductRow.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding-top: 50px;

  .image {
    width: 450px;
    height: 246px;
  }
  img {
    width: auto;
    max-width: 100%;

  }
}

.homeProductRow .row .col-lg-6.col-12 {
  padding-bottom: 50px;
}

@media (max-width: $breakpoint-sm) {
  .homeProductRow {
    padding-top: 4rem;
  }
}

@media (min-width: 576px) {
  .homeProductRow .row .itemProduct {
    flex-direction: row;

  }

}

@media (min-width: $breakpoint-md) {

  .homeProductRow .row {
    padding-top: 70px;
    flex-direction: column;
    flex-flow: wrap;

    .col-lg-6.col-12 {
      display: flex;
      justify-content: flex-start;

    }

    .itemProduct .NamePrice {
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: flex-start;
      padding-left: 50px;

    }
  }


  .homeProductRow .row .itemProduct .image {
    width: auto !important;
    align-items: center;
    justify-content: none;
    display: flex;
  }
}


@media (min-width: $breakpoint-lg) {

  .homeProductRow .row {
    .col-lg-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%
    }

    .itemProduct {
      .NamePrice {
        flex: 1;
      }

      .itemProduct {
        flex: 1.25;
      }
    }
  }

}