#columns h2.heading, #footer h2.heading {
  margin-top: 0;
}


ul.f-menu {
  margin: 0;
  padding: 0;
  li {
    list-style: none;
    margin: 0 0 16px 0;
    padding: 0;
  }
}
ul, ol {
  margin-bottom: 11px;
  padding-left: 0;
  list-style: none;
}