@import './../../../../styles/styles.scss';

.NavigationItem {
  padding: 15px 30px;
  box-sizing: border-box;
  display: block;
  >a {
    color: $white;
    font-weight: 900;
    text-transform: capitalize;
    font-size: 25px;
    font-style: italic;
    display: block;
    text-decoration: none;
    width: 100%;
    box-sizing: border-box;
    display: block;
    &:hover,
    &:active,
    &.active {
      color: $red;
    }
  }
}

@media(max-width: $breakpoint-sm) {
  .NavigationItem {
    padding: 10px 0;
    text-align: left;
  }
}