.coverImgFranchise {
  font-family: 'Open Sans', sans-serif;
  margin-top: 50px;
  height: auto;
  width: 100%;

  .divGroup {
   
    background-repeat: no-repeat;
    background-position: center;  
  }

  
  .div1{
    background-image: url(../../../assets/images/franchise/franchise1.jpg);
    height: 400px;
    width: 100%;
    background-size: contain;
  }
  .div2{
    background-image: url(../../../assets/images/franchise/franchise2.jpg);
    height: 700px;
    width: 100%;
    background-size: contain;
  }
}
@media (min-width:400px){
  .coverImgFranchise .div1{
    background-size: contain;
    height: 500px;
  }
  .div2{
   
  }
}

@media (min-width:768px) {
  .coverImgFranchise {
    .div1{
      height: 900px;
    }
    .div2{
      background-size: contain;
      height: 1300px;
    }
  }
}

@media (min-width:1024px) {
  .coverImgFranchise  {
    .div1{
      height: 1200px;
    }
    .div2{
      height: 1500px;
    }
  }
}

@media (min-width:1200px) {
  .coverImgFranchise  {
    .divGroup {
      background-size: contain;
    }
    .div1{
      height: 1500px;
    }
    .div2{
      height: 2000px;
    }
  }
}