@import '../../../styles/styles.scss';
.contentHome {
  h1 {
    padding-top: 4rem;
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 32px;
    line-height: 2em;
    font-family: 'Muli', sans-serif;
  }
  .row{
    padding-bottom: 50px;
  }
}

