@import "../../styles/styles.scss";

#footer {
  position: relative;
  background-color: $toolbar;
  float: left;
  width: 100%;
  padding-bottom: 40px;
  overflow: hidden;

  .row {
    flex-direction: column;
  }
}

.heading {
  text-transform: uppercase;
  color: white;
}

.item {
  line-height: 2;
  color: white;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.box-footer .content {
  width: 100%;
  float: left;
  color: #fff;
  font-size: 14px;
  position: relative;

  a {
    display: inline-block;
    color: #fff;
    font-size: 18px;
  }

  span {
    color: #fff;
  }
}

@media (min-width:1200px) {
  #footer {
    padding-top: 40px;

    .row {
      flex-direction: row;
      justify-content: space-around;
    }
  }

}