.NavigationItems {
    margin: 0 8px;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-flow: column;
    height: 100%;
}

@media(min-width: 576px){
    .NavigationItems {
        flex-flow: row nowrap;
    }   
}