@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&display=swap&subset=vietnamese');
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Muli', sans-serif; */

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

code {
  font-family: 'Open Sans', sans-serif;
}
